.row {
  max-width: 100vw !important;
  margin-top: 50px;
}

.col-sm {
  padding: 20px;
}
.Video__con {
  max-width: 95vw;
}
.video_cont__main {
  padding: 20px;
  margin-top: 20px;
}
.video__text {
  text-align: center;
  font-family: "Vidaloka", serif;
  font-size: 30px;
  margin-bottom: 20px;
}
.col__left {
  padding-left: 10%;
}
.video__player {
  margin: 0 auto !important;
}

.row__textData {
  min-height: 50vh;
}
