@import url("https://fonts.googleapis.com/css2?family=Vidaloka&display=swap");
.row {
  max-width: 98vw !important;
}

.col__right {
  padding-right: 8%;
}

.col__right > img {
  max-width: 93%;
}
.welcome {
  padding-left: 2px;
}
.Home__text {
  margin-top: 30px;
  font-size: 50px;
  line-height: 70px;
}

.main__text {
  font-size: 100px;
  font-family: "Vidaloka", serif;
}

.Home__subText {
  padding-left: 10px;
  padding-right: 10px;
}

.button_con {
  margin-top: 10px;
  padding-left: 10px;
}

.Explore__button {
  background-color: #f35456;
  font-size: 20px;
  color: white;
  border-radius: 12px;
  transition: all 0.2s ease-in;
}

.Explore__button:hover {
  color: white;
  padding-right: 30px;
  padding-left: 30px;
}

a {
  text-decoration: none;
}
