@import url("https://fonts.googleapis.com/css2?family=Vidaloka&display=swap");

.nav-item {
  padding-left: 10px;
  padding-right: 10px;
}
.nav-link {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.active {
  background-color: black;
  border-radius: 12px;
  color: white !important;
}
